body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Roboto",  Arial, sans-serif;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-navigation a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.basket {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket:hover,
.basket:focus {
  color: #fb565a;
}

.main-advertising {
  background-color: #eeeeee;
}

.main-advertising h2 {
  font-size: 55px;
  line-height: 55px;
}

.button {
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button-green{
  color:#ffffff;
  text-align: center;

  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-yellow{
  color: #ffffff;
  text-align: center;

  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.main-offers-list{
  list-style: none;
}

.main-offers-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.about-us h3 {
  font-size: 45px;
  line-height: 45px;
}

.about-us b {
  font-size: 16px;
  line-height: 24px;
}

.about-us-list {
  list-style: none;
}

.aside h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.aside-table-percentages {
  font-size: 45px;
  line-height: 36px;
  text-align: center;
}

.aside-table-scroll {
  font-size: 16px;
  line-height: 18px;
}

.partners-items{
  list-style: none;
}

.footer {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.footer h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-social-list {
  list-style: none;
}

.button-social {
  color: #ffffff;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.botton-social:hover,
.botton-social:focus {
  background-color: #e74246;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.modal-cantact-us label {
  font-size: 16px;
  line-height: 18px;
}

.modal-contact-us input {
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-contact-us input:hover {
  border-color: #b4b9bb;
}

.modal-contact-us input:focus {
  border-color: #000000;
}

.button-close{
  background-image: url("img/close-cross.svg");
}


.main-title {
  font-size: 55px;
  line-height: 55px;
}

.site-navigation-current {
  border-bottom: 1px solid red;
}

.main-filters-filter-item{
  list-style: none;
}

.main-filters-filter h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase

  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.main-catalog b {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-catalog-type {
  list-style: none;
}

.main-catalog-type a {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-catalog-type .arrow-current {
  background-image: url("img/icon-down-dir.svg");
}

.main-catalog-type .arrow {
  background-image: url("img/icon-up-dir.svg");
}

.main-catalog-type-current {
  color: #000000;
}

.main-catalog-list {
  list-style: none;
}

.main-catalog-list-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.pagination {
  list-style: none;
}

.pagination a {
  color: #000000;
  text-decoration: none;

  background-color: #eeeeee;
}

.pagination a:hover,
.pagination a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  background-color: #ffffff;
}
|
|
|
.main-header {
  width: 100%;
  margin-bottom: 0px;

  background-color: #eeeeee;
}

.main-navigation {
  width: 1200px;
  height: 116px;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  width: 160px;
  height: 67px;
  padding-left: 20px;
  padding-top: 48px;

}

.site-navigation {
  width: 440px;
  margin: 0 ;
  padding: 0;

  list-style: none;

}

.basket {
  width: 120px;
  margin: 0;
  padding-right: 20px;
  padding-top: 85px;

  list-style: none;
}

.main-offers-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 82px;
  padding: 0;
  width: 1200px;

  list-style: none;
}

.main-offers-list li {
  width: 300px;
}

.main .index-columns {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.main-advertising{
  height: 414px;
  margin-bottom: 81px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 80px 20px;
  margin-botton: 78px;
}

.about-us {
  width: 660px;
}

.aside {
  width: 360px;
}

.partners-items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 82px;
  padding: 0;
  width: 1200px;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.footer-contacts {
  margin-rigth: 20px;
  margin-bottom: 55px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}  

.footer-social-list {
  width: 260px;
  margin: 0;
  margin-left: auto;
}

.footer-social .discount {
  width: 560px;

  margin-left: 420px;
  margin-top: 80px;
}
|
|
|
.main-filters {
  width: 260px;
}

.main-catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-catalog-list-item {
  width: 360px;
  margin-bottom: 35px;
  margin-right: px;
}